<?xml version="1.0"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Controller>
    <Forward>W</Forward>
    <Back>S</Back>
    <Left>A</Left>
    <Right>D</Right>
    <Jump>Space</Jump>
    <Attack>Mouse0</Attack>
    <Take>F</Take>
    <OpenDoor>T</OpenDoor>
    <Inventory>E</Inventory>
    <Pause>Escape</Pause>
    <CameraUp>None</CameraUp>
    <CameraDown>None</CameraDown>
    <CameraLeft>None</CameraLeft>
    <CameraRight>None</CameraRight>
  </Controller>
  <MouseSensitivity>
    <x>1</x>
    <y>1</y>
  </MouseSensitivity>
  <IsNewGame>false</IsNewGame>
  <SaveInFile>true</SaveInFile>
</Configuration>